<form class="legends sheet item-sheet move-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
  </header>
  <section class="sheet-body">
    <section class="row">
      <table>
        <tr>
          <th class="title">{{localize "legends.moves.roll"}}</th>
          <th class="title">{{localize "legends.moves.with"}}</th>
          <th class="title">{{localize "legends.moves.category.label"}}</th>
        </tr>
        <tr>
          <td>
            {{> "systems/legends/templates/partials/checkbox.hbs" name="system.rollable" value=data.system.rollable}}
          </td>
          <td>
            <select class="cell cell-3" name="system.rollStat">
              <option value="">{{localize "legends.common.none"}}</option>
              {{#select data.system.rollStat}}
                {{#each config.stats as |label value|}}
                  <option value="{{value}}">{{localize label}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
          <td>
            <select class="cell cell-3" name="system.category">
              <option value="">{{localize 'legends.common.none'}}</option>
              {{#select data.system.category}}
                {{#each config.moveCategories as |label value|}}
                  <option value="{{value}}">{{localize label}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
      </table>
    </section>

    {{> "systems/legends/templates/partials/description-editor.hbs" }}
  </section>
  <section class="item move" data-item-id="{{system._id}}">
    <p class="right pad-top"><a class="title item-roll fire"><i class="fas fa-comment"></i> Show in Chat</a></p>
  </section>
</form>
