<section class="description-editor">
  <h1 class="title center underline">{{localize "legends.common.description"}}</h1>

  <div class="description">
    {{editor system.enrichedDescription target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
  </div>
</section>
