<h1 class="title row item underline" data-item-id="{{_id}}">
  {{localize "legends.principle.title"}}:
  <section class="cell">
    &nbsp;<a class="menu black">{{name}}</a>
  </section>

  <section class="track cell">
    <a class="check-box set-value{{#if (eq system.track.value 0)}} filled{{/if}}" data-type="item" data-param="track"
      data-new-value="0">
      <span class="num">
        0
      </span>
    </a>
    {{#times system.track.max}}
      <a class="check-box set-value{{#if (eq ../system.track.value @index)}} filled{{/if}}" data-type="item"
        data-param="track" data-new-value="{{@index}}">
        <span class="num">
          +{{@index}}
        </span>
      </a>
    {{/times}}
  </section>
</h1>
