@import './config.less';

body {
  .main-font();

  h1,
  h2,
  h3,
  h4 {
    .title-font();
    font-weight: normal;
    margin: 0 0 0.5rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  p {
    margin: 0 0 0.5rem;
  }

  .skill-name {
    color: @accent-dark;
    .title-font();
    font-weight: bold;
  }

  a.content-link {
    color: @text-color;
    .title-font();
    border: none;
    padding: 0;
    background: none;
  }
}
